* {
    margin: 0;
    padding: 0;
    font-family: "Lucida Console", monospace;
}
#navbar {
    width: 95%;
    height: 60px;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 5px;
    background-color: #6699ff;
}
#container {
    width: 50%;
    margin: auto;
    margin-top: 100px;
}
.perguntas{
    display: flex;
    align-items: flex-start;
    margin-bottom: 5px;
}
#menu {
    width: 20%;
    margin-top: 60px;
    border-radius: 10px;
    float: left;
}
#lg {
    margin-top: 5px;
    margin-bottom: 20px;
}
#sub {
    margin-left: 50%;
}
.item {
    width: 100px;
    height: 100px;
    text-align: center;
    margin-right: 30px;
    display: inline-block;
}
#item {
    text-decoration: none;
    margin-right: 10px;
}
#logo {
    text-align: center;
    opacity: 0.6;
}
h2 {
    display: inline;
    color: #fff;
    letter-spacing: 8px;
    text-transform: uppercase;
}
#pergunta {
    display: flex;
}
#ul {
    list-style-type: none;
    margin: 0;
    margin-left: 5px;
    padding: 0;
    text-align: left;
}
#alert {
    width: 50%;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    visibility: hidden;
}
.ques {
    display: inline;
}
.end {
    text-align: center;
}
#cl  {
    margin-top: 5px;
}
#quiz {
    text-align: center;
    margin-top: 20px;
    height: 250px;
    border: 1px solid black;
}